In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("~/Desktop/all_towns.csv",encoding="utf-8")

In [3]:
df.region = df.region.str.replace("Region: ","")

### Format Population Variables

In [ ]:
# get maximum number of populations given for a particular town
xx = df.population.str.split("\), ")
y = 1
for x in xx:
    try:
        if len(x) > y:
            y = len(x)
    except:
        pass
print(y)

In [5]:
popList = df.population.str.split("\), ")

In [67]:
temp = []
for x in popList:
    try:
        temp.append(x[0])
    except:
        temp.append(x)

pop1 = []
for x in temp:
    try:
        pop1.append(x.split("(")[0])
    except:
        pop1.append(x)

df['pop1'] = pd.Series(pop1)
df.pop1 = df.pop1.str.replace(",","").str.strip()

In [99]:
temp = []
for x in popList:
    try:
        temp.append(x[0])
    except:
        temp.append(x)

year1 = []
for x in temp:
    try:
        year1.append(x.split("(")[1])
    except:
        year1.append(None)

df['year1'] = pd.Series(year1)
df.year1 = df.year1

In [69]:
temp = []
for x in popList:
    try:
        temp.append(x[1])
    except:
        temp.append(x)

pop2 = []
for x in temp:
    try:
        pop2.append(x.split("(")[0])
    except:
        pop2.append(x)

df['pop2'] = pd.Series(pop2)
df.pop2 = df.pop2.str.replace(",","").str.strip()

In [72]:
temp = []
for x in popList:
    try:
        temp.append(x[1])
    except:
        temp.append(x)

year2 = []
for x in temp:
    try:
        year2.append(x.split("(")[1])
    except:
        year2.append(x)

df['year2'] = pd.Series(year2)
df.year2 = df.year2.str.replace(",","").str.strip()

In [137]:
df['pop1'] = df['pop1'].str.replace(r'\D+', '')
df['year1'] = df['year1'].str.replace(r'\D+', '')
df['pop2'] = df['pop2'].str.replace(r'\D+', '')
df['year2'] = df['year2'].str.replace(r'\D+', '')

In [100]:
df['year1'].replace('None', '1900', inplace=True)

In [ ]:
df.loc[df['year1'].isnull(), 'year1'] = '1900'

In [117]:
df[['population','pop1','year1','pop2','year2']].head()

                         population  pop1 year1  pop2 year2
0                             1,673  1673  1900   NaN   NaN
1                               586   586  1900   NaN   NaN
2    575 (in 1897), 1,251 (in 1921)   575  1897  1251  1921
3  3,637 (in 1897), 2,397 (in 1931)  3637  1897  2397  1931
4      240 (in 1857), 237 (in 1921)   240  1857   237  1921

### Summary Stats

In [130]:
df['pop1'].astype(float).groupby(df['province']).mean()

province
?              1396.937500
Belarus                NaN
Bialystok      3008.435897
Bydgoszcz       951.545455
Gdansk          572.300000
Katowice       1903.409091
Kielce         2074.209677
Koszalin        409.615385
Krakow         3978.588235
Lithuania              NaN
Lodz           4189.764706
Lublin         2383.014286
Lwow          23184.000000
Olsztyn         155.700000
Opole           511.333333
Poznan         1847.125000
Rzeszow        2560.642857
Szczecin        466.200000
Ukraine        2687.511111
Warszawa     123094.852941
Wroclaw        1388.333333
Zielona         371.000000
Name: pop1, dtype: float64

In [132]:
df['pop1'].astype(float).groupby(df['gubernia']).mean()

gubernia
?               1416.827586
Galicia         2819.133333
Grodno          8828.857143
Kalisz          1668.366667
Kielce          2226.652174
Lomza           2351.739130
Lublin          2612.743590
Lwow             913.000000
Piotrkow        5916.718750
Plock           2150.333333
Prussia          813.300000
Radom           2594.850000
Siedlce       503376.000000
Stanislawo      3323.000000
Suwalki         1569.333333
Volynia         6539.000000
Warszawa        7367.025641
Name: pop1, dtype: float64

In [133]:
df['pop1'].astype(float).groupby(df['region']).mean()

region
Germany           176.000000
Grodno           6271.181818
Kalisz           1689.333333
Kherson          2642.000000
Kielce           2036.911765
Krakow           2554.862069
Lomza            2324.500000
Lublin           2126.810345
Lwow             3086.160000
Piotrkow         4750.166667
Plock            2176.722222
Prussia           952.691729
Radom            2143.805556
Siedlce        260620.838710
Silesia           266.000000
Stanislawow      3754.238095
Suwalki          1436.666667
Tarnopol         2428.622222
Volhynia         6539.000000
Warszawa         6033.769231
Name: pop1, dtype: float64

In [164]:
df['pop1'].astype(float).groupby(df['region']).mean()

region
Germany           176.000000
Grodno           6271.181818
Kalisz           1689.333333
Kherson          2642.000000
Kielce           2036.911765
Krakow           2554.862069
Lomza            2324.500000
Lublin           2126.810345
Lwow             3086.160000
Piotrkow         4750.166667
Plock            2176.722222
Prussia           952.691729
Radom            2143.805556
Siedlce        260620.838710
Silesia           266.000000
Stanislawow      3754.238095
Suwalki          1436.666667
Tarnopol         2428.622222
Volhynia         6539.000000
Warszawa         6033.769231
Name: pop1, dtype: float64

In [177]:
df['pop_diff'] = df['pop1'].astype(float) - df['pop2'].astype(float)

In [168]:
df['pop_diff'].mean()

-590.5256064690027

In [171]:
df[df['pop_diff'].notnull()][['gubernia','name','region','province','pop_diff']].sort_values(by=['pop_diff'],ascending=False).head()

    gubernia       name   region   province    diff
309   Kalisz      Kepno  Prussia     Poznan  3261.0
34    Grodno  Bialystok   Grodno  Bialystok  2843.0
327   Grodno    Knyszyn   Grodno          ?  2307.0
64         ?  Bolszowce  Prussia          ?  2240.0
431        ?     Leszno  Prussia          ?  2240.0

In [172]:
df[df['pop_diff'].notnull()][['gubernia','name','region','province','pop_diff']].sort_values(by=['pop_diff'],ascending=True).head()

     gubernia         name    region  province      diff
444  Piotrkow         Lodz  Piotrkow      Lodz -104310.0
457    Lublin       Lublin    Lublin    Lublin  -19244.0
668     Radom        Radom     Radom    Kielce  -13882.0
139  Piotrkow  Czestochowa  Piotrkow  Katowice  -13824.0
311    Kielce       Kielce    Kielce    Kielce  -11910.0

In [174]:
df['year_diff'] = df['year2'].astype(float) - df['year1'].astype(float)

In [178]:
df[df['year_diff'].notnull()][['gubernia','name','region','province','year1','year2','year_diff','pop_diff']].sort_values(by=['year_diff'],ascending=False).head()

    gubernia      name   region  province year1 year2  year_diff  pop_diff
197        ?    Glogow  Prussia   Zielona  1756  1900      144.0     928.0
229    Radom   Granica    Radom    Kielce  1827  1921       94.0     188.0
849        ?   Szydlow   Kielce    Kielce  1827  1921       94.0     479.0
657        ?   Pszczew  Prussia   Zielona  1840  1933       93.0     145.0
210        ?  Goleniow  Prussia  Szczecin  1840  1933       93.0      92.0

In [182]:
df.columns

Index(['alt_name_x', 'gubernia', 'href', 'lat', 'long', 'name', 'province',
       'google_maps', 'jewish_gen', 'usbgn', 'alt_name_y', 'notes',
       'population', 'region', 'pop1', 'year1', 'pop2', 'year2', 'diff',
       'year_diff', 'pop_diff'],
      dtype='object')