In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("~/Desktop/all_towns.csv",encoding="utf-8")

In [3]:
df.region = df.region.str.replace("Region: ","")

In [4]:
# get maximum number of populations given for a particular town
xx = df.population.str.split("\), ")
y = 1
for x in xx:
    try:
        if len(x) > y:
            y = len(x)
    except:
        pass
print(y)

2

### Format Population Variables

In [5]:
popList = df.population.str.split("\), ")

In [67]:
temp = []
for x in popList:
    try:
        temp.append(x[0])
    except:
        temp.append(x)

pop1 = []
for x in temp:
    try:
        pop1.append(x.split("(")[0])
    except:
        pop1.append(x)

df['pop1'] = pd.Series(pop1)
df.pop1 = df.pop1.str.replace(",","").str.strip()

In [99]:
temp = []
for x in popList:
    try:
        temp.append(x[0])
    except:
        temp.append(x)

year1 = []
for x in temp:
    try:
        year1.append(x.split("(")[1])
    except:
        year1.append(None)

df['year1'] = pd.Series(year1)
df.year1 = df.year1

In [69]:
temp = []
for x in popList:
    try:
        temp.append(x[1])
    except:
        temp.append(x)

pop2 = []
for x in temp:
    try:
        pop2.append(x.split("(")[0])
    except:
        pop2.append(x)

df['pop2'] = pd.Series(pop2)
df.pop2 = df.pop2.str.replace(",","").str.strip()

In [72]:
temp = []
for x in popList:
    try:
        temp.append(x[1])
    except:
        temp.append(x)

year2 = []
for x in temp:
    try:
        year2.append(x.split("(")[1])
    except:
        year2.append(x)

df['year2'] = pd.Series(year2)
df.year2 = df.year2.str.replace(",","").str.strip()

In [106]:
df['pop1'] = df['pop1'].str.replace(r'\D+', '')
df['year1'] = df['year1'].str.replace(r'\D+', '')
df['pop2'] = df['pop2'].str.replace(r'\D+', '')
df['year2'] = df['year2'].str.replace(r'\D+', '')

In [100]:
df['year1'].replace('None', '1900', inplace=True)

In [ ]:
df.loc[df['year1'].isnull(), 'year1'] = '1900'

In [117]:
df[['population','pop1','year1','pop2','year2']].head()

                         population  pop1 year1  pop2 year2
0                             1,673  1673  1900   NaN   NaN
1                               586   586  1900   NaN   NaN
2    575 (in 1897), 1,251 (in 1921)   575  1897  1251  1921
3  3,637 (in 1897), 2,397 (in 1931)  3637  1897  2397  1931
4      240 (in 1857), 237 (in 1921)   240  1857   237  1921