In [72]:
import pandas as pd
import re

In [73]:
df = pd.read_csv("~/shtetls/data/all_towns.csv",encoding="utf-8")

In [74]:
df.region = df.region.str.replace("Region: ","")

### Format Population Variables

In [75]:
# get maximum number of populations given for a particular town
xx = df.population.str.split("\), ")
y = 1
for x in xx:
    try:
        if len(x) > y:
            y = len(x)
    except:
        pass
print(y)

2

In [76]:
popList = df.population.str.split("\), ")

In [77]:
temp = []
for x in popList:
    try:
        temp.append(x[0])
    except:
        temp.append(x)

pop1 = []
for x in temp:
    try:
        pop1.append(x.split("(")[0])
    except:
        pop1.append(x)

df['pop1'] = pd.Series(pop1)
df.pop1 = df.pop1.str.replace(",","").str.strip()

In [78]:
temp = []
for x in popList:
    try:
        temp.append(x[0])
    except:
        temp.append(x)

year1 = []
for x in temp:
    try:
        year1.append(x.split("(")[1])
    except:
        year1.append(None)

df['year1'] = pd.Series(year1)
df.year1 = df.year1

In [79]:
temp = []
for x in popList:
    try:
        temp.append(x[1])
    except:
        temp.append(x)

pop2 = []
for x in temp:
    try:
        pop2.append(x.split("(")[0])
    except:
        pop2.append(x)

df['pop2'] = pd.Series(pop2)
df.pop2 = df.pop2.str.replace(",","").str.strip()

In [80]:
temp = []
for x in popList:
    try:
        temp.append(x[1])
    except:
        temp.append(x)

year2 = []
for x in temp:
    try:
        year2.append(x.split("(")[1])
    except:
        year2.append(x)

df['year2'] = pd.Series(year2)
df.year2 = df.year2.str.replace(",","").str.strip()

In [81]:
df['pop1'] = df['pop1'].str.replace(r'\D+', '')
df['year1'] = df['year1'].str.replace(r'\D+', '')
df['pop2'] = df['pop2'].str.replace(r'\D+', '')
df['year2'] = df['year2'].str.replace(r'\D+', '')

In [82]:
df['year1'].replace('None', '1900', inplace=True)

In [83]:
df.loc[df['year1'].isnull(), 'year1'] = '1900'

In [84]:
df[['population','pop1','year1','pop2','year2']].head()

                         population  pop1 year1  pop2 year2
0                             1,673  1673  1900   NaN   NaN
1                               586   586  1900   NaN   NaN
2    575 (in 1897), 1,251 (in 1921)   575  1897  1251  1921
3  3,637 (in 1897), 2,397 (in 1931)  3637  1897  2397  1931
4      240 (in 1857), 237 (in 1921)   240  1857   237  1921

### Summary Stats

#### Breakdown by Governance Type

In [85]:
# mean population level by province
df['pop1'].astype(float).groupby(df['province']).mean()

province
?              1396.937500
Belarus                NaN
Bialystok      3008.435897
Bydgoszcz       951.545455
Gdansk          572.300000
Katowice       1903.409091
Kielce         2074.209677
Koszalin        409.615385
Krakow         3978.588235
Lithuania              NaN
Lodz           4189.764706
Lublin         2383.014286
Lwow          23184.000000
Olsztyn         155.700000
Opole           511.333333
Poznan         1847.125000
Rzeszow        2560.642857
Szczecin        466.200000
Ukraine        2687.511111
Warszawa     123094.852941
Wroclaw        1388.333333
Zielona         371.000000
Name: pop1, dtype: float64

In [86]:
# number of shtetls per province
df['province'].value_counts()

?            263
Ukraine       93
Warszawa      90
Lublin        76
Kielce        69
Lodz          59
Poznan        59
Bialystok     52
Katowice      41
Bydgoszcz     34
Wroclaw       29
Opole         25
Zielona       23
Koszalin      22
Szczecin      20
Olsztyn       19
Krakow        18
Gdansk        15
Rzeszow       14
Lwow           2
Belarus        1
Lithuania      1
Name: province, dtype: int64

In [87]:
# mean population by gubernia (governate)
df['pop1'].astype(float).groupby(df['gubernia']).mean()

gubernia
?               1416.827586
Galicia         2819.133333
Grodno          8828.857143
Kalisz          1668.366667
Kielce          2226.652174
Lomza           2351.739130
Lublin          2612.743590
Lwow             913.000000
Piotrkow        5916.718750
Plock           2150.333333
Prussia          813.300000
Radom           2594.850000
Siedlce       503376.000000
Stanislawo      3323.000000
Suwalki         1569.333333
Volynia         6539.000000
Warszawa        7367.025641
Name: pop1, dtype: float64

In [88]:
# freq count of shtetls by gubernia
df['gubernia'].value_counts()

?             582
Galicia       126
Warszawa       42
Lublin         41
Piotrkow       35
Kalisz         31
Lomza          30
Prussia        28
Kielce         23
Radom          22
Plock          22
Siedlce        16
Suwalki        14
Grodno          8
Lwow            3
Stanislawo      1
Volynia         1
Name: gubernia, dtype: int64

In [89]:
# mean shtetl population by region
df['pop1'].astype(float).groupby(df['region']).mean()

region
Germany           176.000000
Grodno           6271.181818
Kalisz           1689.333333
Kherson          2642.000000
Kielce           2036.911765
Krakow           2554.862069
Lomza            2324.500000
Lublin           2126.810345
Lwow             3086.160000
Piotrkow         4750.166667
Plock            2176.722222
Prussia           952.691729
Radom            2143.805556
Siedlce        260620.838710
Silesia           266.000000
Stanislawow      3754.238095
Suwalki          1436.666667
Tarnopol         2428.622222
Volhynia         6539.000000
Warszawa         6033.769231
Name: pop1, dtype: float64

In [90]:
# freq count of shtetls per region (all of Prussia is included under one, so it makes sense why it's so high)
df['region'].value_counts()

Prussia        139
Lublin          59
Warszawa        52
Lwow            51
Tarnopol        45
Piotrkow        42
Radom           36
Kalisz          36
Kielce          34
Siedlce         31
Krakow          29
Lomza           24
Stanislawow     21
Plock           18
Suwalki         15
Grodno          11
Silesia          2
Germany          1
Volhynia         1
Kherson          1
Name: region, dtype: int64

#### Breakdown by Population Differences (only shtetls with multiple years population data)

In [91]:
df['pop_diff'] = df['pop2'].astype(float) - df['pop1'].astype(float)

In [92]:
# top 5 shtetls with highest gross population increase
df[df['pop_diff'].notnull()][['gubernia','name','region','province','pop_diff','year1','year2']].sort_values(by=['pop_diff'],ascending=False).head()

     gubernia         name    region  province  pop_diff year1 year2
444  Piotrkow         Lodz  Piotrkow      Lodz  104310.0  1897  1931
457    Lublin       Lublin    Lublin    Lublin   19244.0  1897  1939
668     Radom        Radom     Radom    Kielce   13882.0  1897  1931
139  Piotrkow  Czestochowa  Piotrkow  Katowice   13824.0  1897  1931
311    Kielce       Kielce    Kielce    Kielce   11910.0  1897  1931

In [93]:
# top 5 shtetls with highest gross population decrease
df[df['pop_diff'].notnull()][['gubernia','name','region','province','pop_diff','year1','year2']].sort_values(by=['pop_diff'],ascending=True).head()

    gubernia       name   region   province  pop_diff year1 year2
309   Kalisz      Kepno  Prussia     Poznan   -3261.0  1840  1910
34    Grodno  Bialystok   Grodno  Bialystok   -2843.0  1895  1939
327   Grodno    Knyszyn   Grodno          ?   -2307.0  1897  1921
431        ?     Leszno  Prussia          ?   -2240.0  1840  1895
64         ?  Bolszowce  Prussia          ?   -2240.0  1840  1895

In [94]:
df['year_diff'] = df['year2'].astype(float) - df['year1'].astype(float)

In [95]:
# top 5 year differences between population values
df[df['year_diff'].notnull()][['gubernia','name','region','province','year1','year2','year_diff','pop_diff']].sort_values(by=['year_diff'],ascending=False).head()

    gubernia      name   region  province year1 year2  year_diff  pop_diff
197        ?    Glogow  Prussia   Zielona  1756  1900      144.0    -928.0
229    Radom   Granica    Radom    Kielce  1827  1921       94.0    -188.0
849        ?   Szydlow   Kielce    Kielce  1827  1921       94.0    -479.0
657        ?   Pszczew  Prussia   Zielona  1840  1933       93.0    -145.0
210        ?  Goleniow  Prussia  Szczecin  1840  1933       93.0     -92.0

In [96]:
df['pop_diff_year'] = df['pop_diff'].astype(float) / df['year_diff'].astype(float)

In [97]:
# top 5 shtetls based on time-weighted population increase
df[df['pop_diff_year'].notnull()][['gubernia','name','region','province','year1','year2','year_diff','pop_diff','pop_diff_year']].sort_values(by=['pop_diff_year'],ascending=False).head()

,gubernia,name,region,province,year1,year2,year_diff,pop_diff,pop_diff_year
444,Piotrkow,Lodz,Piotrkow,Lodz,1897,1931,34.0,104310.0,3067.941176
775,?,Sosnowiec,Piotrkow,?,1897,1921,24.0,11173.0,465.541667
457,Lublin,Lublin,Lublin,Lublin,1897,1939,42.0,19244.0,458.190476
668,Radom,Radom,Radom,Kielce,1897,1931,34.0,13882.0,408.294118
139,Piotrkow,Czestochowa,Piotrkow,Katowice,1897,1931,34.0,13824.0,406.588235

In [98]:
# top 5 shtetls based on time-weighted population decrease
df[df['pop_diff_year'].notnull()][['gubernia','name','region','province','year1','year2','year_diff','pop_diff','pop_diff_year']].sort_values(by=['pop_diff_year'],ascending=True).head()

,gubernia,name,region,province,year1,year2,year_diff,pop_diff,pop_diff_year
327,Grodno,Knyszyn,Grodno,?,1897,1921,24.0,-2307.0,-96.125000
982,Galicia,Zalozce,Tarnopol,Ukraine,1900,1921,21.0,-1873.0,-89.190476
39,Grodno,Bielsk Podlaski,Grodno,Bialystok,1897,1921,24.0,-1687.0,-70.291667
33,Galicia,Bialy Kamien,Tarnopol,Ukraine,1900,1921,21.0,-1406.0,-66.952381
34,Grodno,Bialystok,Grodno,Bialystok,1895,1939,44.0,-2843.0,-64.613636

### Parse Long and Lat and Export Data

In [99]:
def isNaN(num):
    return num != num

In [100]:
google_maps = df.google_maps
google_lat = []
google_long = []
for x in google_maps:
    if isNaN(x):
        google_lat.append(x)
        google_long.append(x) 
        continue
    currCoor = re.search('ll=(.*)&z=', x).group(1).split(",")
    google_lat.append(currCoor[0])
    google_long.append(currCoor[1])

In [101]:
df['google_lat'] = google_lat
df['google_long'] = google_long

In [102]:
df.columns

Index(['alt_name_x', 'gubernia', 'href', 'lat', 'long', 'name', 'province',
       'google_maps', 'jewish_gen', 'usbgn', 'alt_name_y', 'notes',
       'population', 'region', 'pop1', 'year1', 'pop2', 'year2', 'pop_diff',
       'year_diff', 'pop_diff_year', 'google_lat', 'google_long'],
      dtype='object')

In [103]:
df.to_csv("~/shtetls/data/additional_shtetl_data.csv",index = False)